{% include "partials/darkmode.html" %}

<header>
  <section class="nav-container">
    <a class="nav-title" href="{{ get_url(path='@/_index.md') }}">
      <h2>{{ config.title | default(value="Mabuya") }}</h2>
    </a>
    <nav>
      <ul>
        {% if config.extra.menu %}
        {% for menu in config.extra.menu %}
        {% if menu.kind == "taxonomy" %}
        {% set menu_taxonomy = get_taxonomy(kind=menu.taxonomy) %}
        {% set menu_url = menu_taxonomy.permalink %}
        {% else %}
        {% set menu_url = get_url(path=menu.path) %}
        {% endif %}
        <li><a href="{{ menu_url | safe }}">{{ menu.name }}</a></li>
        {% endfor %}
        {% else %}
        {% set fallback_taxonomy = get_taxonomy(kind='tags') %}
        <li><a href="{{ get_url(path='@/_index.md') }}">Archive</a></li>
        <li><a href="{{ fallback_taxonomy.permalink | safe }}">Tags</a></li>
        {% endif %}
      </ul>
    </nav>
  </section>
</header>
