{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}

{% block meta_description %}
<meta name="description" content="{{ page.description | default(value=page.summary | default(value=config.description)) }}" />
{% endblock meta_description %}

{% block content %}
<article class="post">
  <section class="post-info">
    {% if page.extra.author -%}
    <span>Written by</span> {{ page.extra.author }}<br />
    {%- elif page.authors | length > 0 -%}
    <span>Written by</span> {{ page.authors | join(sep=", ") }}<br />
    {% elif config.extra.author -%}
    <span>Written by</span> {{ config.extra.author }}<br />
    {%- endif %}
    <span>Published on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date(format=config.extra.timeformat |
      default(value="%B
      %e, %Y"))}}</time><br />
    {% if page.updated -%}
    <span>Updated on&nbsp;</span><time datetime="{{ page.updated }}">{{ page.updated | date(format=config.extra.timeformat |
      default(value="%B
      %e, %Y"))}}</time><br />
    {%- endif %}
    <span>{{ page.word_count }} words · {{ page.reading_time }} min read</span>
  </section>
  <h1 class="post-title">{{ page.title }}</h1>
  <section class="post-line"></section>
  {{ page.content | safe }}
</article>

<section class="pagination">
  {% if page.higher -%}
  <a href="{{ page.higher.permalink | safe }}" class="left arrow">&#8592;</a>
  {%- endif %}
  {% include "partials/back-to-top.html" %}
  {% if page.lower -%}
  <a href="{{ page.lower.permalink | safe }}" class="right arrow">&#8594;</a>
  {%- endif %}
</section>
{% endblock content %}
